@charset "UTF-8";

.center-text {
	text-align: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, 
		sans-serif !important;
	color: #000 !important;
}
#wrapper {
	margin:auto;
	max-width:1000px!important;
}
.fusion-button {
	font-size: 15px;
}

.fusion-row {
	max-width: 890px !important;
}

.fusion-checklist > li {
	font-size: 15px;
}

/* Header Styling */
.fusion-header-wrapper {
	margin: auto;
	max-width: 1000px !important;
	width: 100%;
	color: #000;
}

.fusion-logo {
	float: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.fusion-secondary-header, .fusion-secondary-main-menu,footer  {
	color: #000 !important;
	border: none;
	background-color: rgba(253,240,4,1) !important;
}

.fusion-header-v5 .fusion-sticky-header-wrapper .fusion-header .two-col {
	padding-top: 10px;
}

.fusion-header-v5 .fusion-sticky-header-wrapper .fusion-header .two-col .col {
	display: inline-block;
	width: 49%;
}

.fusion-header-v5 .fusion-sticky-header-wrapper .fusion-header .two-col 
.col-right {
	text-align: right;
	padding-top: 10px;
}

.fusion-header-v5 .fusion-sticky-header-wrapper .fusion-header p {
	font-size: 12px;
	line-height: 1.5;
}

.fusion-header-v5 .fusion-secondary-main-menu, .fusion-header-v5 
.fusion-header {
	border-bottom: 0 !important;
}

.fusion-header-v5 .fusion-main-menu ul {
	padding: 9px 0;
}

.fusion-header-v5 .fusion-main-menu ul li {
	min-width: 114px;
	padding: 6px 21px;
	vertical-align: middle;
	border-radius: 5px;
	background-color: #fff;
	margin: 0 11px;
	box-shadow: 2px 2px 5px #888;
	padding: 0 2px 2px 0;
}

.fusion-header-v5 .fusion-main-menu ul li:hover {
	box-shadow: 0 0 0 #888;
	padding: 0;
}

.fusion-header-v5 .fusion-main-menu ul li a {
	text-align: center;
	height: auto;
	border-top: 0;
	line-height: normal;
	padding: 2px;
	font-weight: bold;
}
#post-16 .fusion-recent-posts {
	height: 400px;
	line-height:1.5;
    overflow-y: scroll;
	
}
.page-id-3298 a.fusion-button.button-1 {
	padding:0px!important;
}
.page-id-3299 .fusion-fullwidth-4 .fusion-one-sixth > div {
	padding: 0 !important;
}
.page-id-3299 .fusion-fullwidth-4 .fusion-one-sixth > div > p > a {
	color: #00f;
    text-decoration: underline;
}
/* Top-page Styling */
#post-3298 .post-content .section1 .fusion-row, .fusion-footer, #footer {
	text-align: center !important;
}

#post-3298 .post-content .section1 .fusion-row .fusion-layout-column, 
#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title,
#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title  h4,
#post-3298 .post-content .section1 .fusion-row .fusion-checklist, #post-3298 
.post-content .section1 .fusion-row .fusion-checklist .fusion-li-item, 
#post-3298 .post-content .fusion-fullwidth .fusion-row ul, #footer-content p,
#post-3301 .post-content .fusion-fullwidth-4 .fusion-three-fifth 
.fusion-column-wrapper h4, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-three-fifth .fusion-column-wrapper h4,
#post-3725 .fusion-fullwidth-1 .fusion-one-half, 
#post-3725 .fusion-fullwidth-2 .fusion-one-full h4 {
	margin: 0;
}

#post-3298 .fix-button .fusion-button {
	color: #00f;
	padding: 0;
	text-align: left;
	text-decoration: underline;
	background-color: transparent;
}

#post-3298 .post-content .section1 .fusion-row .fusion-layout-column {
	max-width: 375px;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last {
	text-align: left;
	padding: 10px 0 0 10px;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title  h4 {
	color: #000080;
	font-size: 15px;
	font-weight: bold;
}

#post-3298 .post-content .section1 .fusion-checklist 
.fusion-li-item .fusion-li-item-content {
	color: blue;
	display: inline-block;
	border-bottom: 1px solid blue;
	margin-left: 0 !important;
	line-height: 1;
	font-size: 14px;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last 
.title {
	padding: 10px 0;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last 
.fusion-title h5 {
	color: #ff0000;    
	line-height: .6;
    font-size: 15px;
    font-weight: bold;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last p {
	padding-top: 5px;
	max-width: 340px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-size: 15px;
}

#post-3298 .fusion-fullwidth-2 .fusion-row, #post-3298 .post-content 
.fusion-fullwidth-3 .fusion-row {
	max-width: 753px !important;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row {
	border: 2px solid #dd3333;
	padding-top: 10px;
}
#post-3298 .fusion-fullwidth-3 .fusion-li-item-content {
	text-align:left;
}
#post-3298 .post-content .fusion-fullwidth .fusion-row ul li,
#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .fusion-one-full,
#post-3298 .post-content .fusion-fullwidth-5 .fusion-row .fusion-one-full,
#post-3299 .post-content .fusion-fullwidth-3 .fusion-two-third,
#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half, #post-3725 
.fusion-fullwidth-1 .tag-line .fusion-reading-box-container, #post-3725 
.fusion-fullwidth-1 #title-1, #post-3725 .fusion-fullwidth-1 .tag-line {
	margin-bottom: 0 !important;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row ul li div {
	color: #ff0000;
	font-weight: bold;
	text-align:left;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row p {
	padding: 0 5px;
	line-height: 1.3;
	text-align:left;
}

#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third p {
	border: 1px solid #000066;
	line-height: 1.5;
	margin-bottom: 5px;
    padding: 0 5px;
    text-align:justify;
	word-break: break-all;
}

#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third 
.fusion-imageframe {
	width: 100%;	
}

#post-3298 .fusion-fullwidth-4 p, #post-3298 .fusion-fullwidth-5 p {
	padding-left: 70px;
}

#post-3298 .fusion-fullwidth-4

#post-3298 .fusion-fullwidth-4 .fusion-one-third span, #post-3298 
.fusion-fullwidth-4 .fusion-one-third span img {
	width: 100%;
}

#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third 
.fusion-button, #post-3298 .post-content .fusion-fullwidth-5 .fusion-row  
.fusion-button.button-4, #post-3298 .post-content .fusion-fullwidth-5
.fusion-row .fusion-button.button-5 {
	background-color: transparent !important;
	color: #00f !important;
	padding: 0;
	font-size: 15px;
	text-align: left;
	text-decoration: underline
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row .one_third p {
	line-height: 1.5;
	font-size: 15px;
	margin-bottom: 0px;
	padding: 10px 7px 6px 7px;
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row 
.one_third.bottom-padding p {
	padding-bottom: 7px;
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row  
.fusion-button.button-4 {
	padding-left: 119px;
	font-size: 12px;
}

/* Work Page Styling */
#post-3299 .post-content .fusion-fullwidth-1, #post-3725 .fusion-fullwidth-1 {
	padding-bottom: 0 !important;
}

#post-3299 .post-content .fusion-fullwidth-1 p, 
#post-3299 .post-content .fusion-fullwidth-2 p {
	line-height: 1.2;
	padding: 0px 80px;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth {
	float: none;
	margin-right: 4px;
	display: inline-block;
	vertical-align: top;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth.left-margin {
	margin-left: 80px;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper {
	min-height: auto !important;
	padding: 0 !important;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper p {
	padding: 10px 10px 0 0;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper p a {
	color: #00f;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third, 
#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half,
#post-3301 .post-content .fusion-fullwidth-4 .fusion-two-fifth {
	/* margin-right: 0; */
}

#post-3299 .post-content .fusion-fullwidth-3 .imageframe-align-center {
	margin-bottom: 15px;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third 
.fusion-column-wrapper, #post-3299 .post-content .fusion-fullwidth-3 
.fusion-two-third .fusion-column-wrapper {
	min-height: 0 !important;
	line-height: 1.3;
	font-size: 13px;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third 
.fusion-column-wrapper .imageframe-align-center {
	margin-left: 53px;
}

/* Introduction Page */
#post-3301 .post-content .fusion-fullwidth-1 p, #post-3301 .post-content 
.fusion-fullwidth-2 p {
	line-height: 1.5;
 	text-align: left!important;
    padding: 0 10px;
}

#post-3301 .post-content .fusion-fullwidth-1 p span {
	line-height: 2.5;
}

#post-3301 .post-content .fusion-fullwidth-1 
.imageframe-align-center .top-margin {
	margin-top: 20px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half
.fusion-column-wrapper {
	margin-right: 23px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half.left-margin 
.fusion-column-wrapper {/* 
	margin-left: 90px; */
	margin-right: 0;
} 

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half
.fusion-column-wrapper p {
	padding: 0 37px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half.left-margin 
.fusion-column-wrapper p {
	padding: 0;
}

#post-3301 .post-content .fusion-fullwidth-3 p.p2 {
	line-height: 1.5;
}

#post-3301 .post-content .fusion-fullwidth-3 .fusion-one-half,
#post-3301 .post-content .fusion-fullwidth-3 #kaba-text 
.fusion-column-wrapper {
	margin-right: 0;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-img-1 
.fusion-column-wrapper {
	margin-left: 88px;
	margin-bottom: 10px !important;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-img-2 
.fusion-column-wrapper {
	margin-left: 104px;
}

#post-3301 .post-content .fusion-fullwidth-3 .kaba-txt,
#post-3301 .post-content .fusion-fullwidth-3 #kaba-text,
#post-3301 .post-content .fusion-fullwidth-3 .miwa-txt {
	font-size: 12px;
	line-height: 1.5;
	margin-left: 0px;
}

#post-3301 .post-content .fusion-fullwidth-3 .kaba-txt 
.fusion-column-wrapper {
	margin-right: 60px;
	margin-left: 0px;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-text 
.fusion-column-wrapper {
	padding: 0 105px;
}

#post-3301 .post-content .fusion-fullwidth-3 #miwa-img div {
	margin-left: 45px;
}

#post-3301 .post-content .fusion-fullwidth-3 .miwa-txt 
.fusion-column-wrapper p {
	padding-right: 66px;
}

#post-3301 .post-content .fusion-fullwidth-4 .m01,
#post-3301 .post-content .fusion-fullwidth-5 .m01 {
	padding-top: 25px;
}
#post-3301 .post-content .fusion-fullwidth-4 .m01, #post-3301 
.post-content .fusion-fullwidth-4 .fusion-row div p,
#post-3301 .post-content .fusion-fullwidth-5 .m01, #post-3301 
.post-content .fusion-fullwidth-5 .fusion-row div p {
	font-size: 15px;
	margin: 0;
	line-height: 1.5;
}

#post-3301 .post-content .fusion-fullwidth-4 p.p2,
#post-3301 .post-content .fusion-fullwidth-5 p.p2 {
	font-size: 12px;
	line-height: 1.5;
	padding: 10px 173px;
}

#post-3301 .post-content .fusion-fullwidth-4 .p2-2 {
	font-size: 12px;
	line-height: 1.5;
	padding: 0 174px;
}

#post-3301 .post-content .fusion-fullwidth-4 .fusion-two-fifth 
.fusion-column-wrapper, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-two-fifth .fusion-column-wrapper {
	margin-left: 95px;
}

#post-3301 .post-content .fusion-fullwidth-4 .fusion-three-fifth 
.fusion-column-wrapper p, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-three-fifth .fusion-column-wrapper p {
	font-size: 14px;
	line-height: 1.3;
    padding-right: 58px;
}

#post-3301 .post-content .fusion-fullwidth-5 {
	/* padding-bottom: 50px !important; */
}

#post-3301 .post-content .fusion-fullwidth-5 p.p2 {
	padding: 10px 164px;
	text-align: left;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper {
	padding-top: 20px;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper h4 {
	font-size: 12px;
	font-weight: bold;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper p {
	padding-top: 5px;
	padding-right: 91px;
	font-size: 12px;
}
.page-id-3301 .fusion-fullwidth-6 .imageframe-14, .page-id-3301 .fusion-fullwidth-8 .imageframe-17, .page-id-3301 .fusion-fullwidth-8 .imageframe-19, .page-id-3301 .fusion-fullwidth-8 .imageframe-21, .page-id-3301 .fusion-fullwidth-8 .imageframe-23, .page-id-3301 .fusion-fullwidth-8 .imageframe-25, .page-id-3301 .fusion-fullwidth-10 .imageframe-28, .page-id-3301 .fusion-fullwidth-10 .imageframe-31 {
	padding-bottom: 25px;
}
.page-id-3301 .fusion-fullwidth-4 .fusion-one-half, .page-id-3301 .fusion-fullwidth-5 .fusion-one-half, .page-id-3301 .fusion-fullwidth-8 .fusion-two-fifth, .page-id-3301 .fusion-fullwidth-10 .fusion-two-fifth {
	margin-right:0;
}
.page-id-3301 .fusion-fullwidth-10 .fusion-three-fifth .fusion-column-wrapper {
	padding-right: 125px;
}
.page-id-3301 .fusion-fullwidth-10 .fusion-separator {
	border-top: 1px solid #666666;
    margin-bottom: 10px;
    margin-left: 158px !important;
    margin-right: 164px !important;
}
.page-id-3301 .fusion-fullwidth-10 .imageframe-29, .page-id-3301 .fusion-fullwidth-10 .imageframe-30, .page-id-3301 .fusion-fullwidth-10 .imageframe-32 {
	padding-left: 148px;
}
.page-id-3301 .fusion-fullwidth-10 .imageframe-33, .page-id-3301 .fusion-fullwidth-10 .imageframe-34{
	padding-left: 145px;
}
.page-id-3301 p.m02 {
	line-height: 1.5;
    text-align: left;
    padding: 0 10px !important;
}
/* News page */
#post-16 .fusion-fullwidth-1 .fusion-recent-posts section {
	margin-left: 70px;
	margin-right: 70px
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts .fusion-column {
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	padding: 0;
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts .recent-posts-content  {
	text-align:left;
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts p.meta {
	font-weight: bold;
	margin-bottom: 5px;
}
.page-id-16 .fusion-recent-posts .columns .column .meta .date {
	font-weight: bolder;
    color: #000;
    font-size: 11pt;
}

/* Store Page */
#post-3725 .fusion-fullwidth-1 .tag-line .reading-box {
	padding: 0 10px;
	margin: 0 50px;
}

#post-3725 .fusion-fullwidth-1 .tag-line .reading-box p {
	margin-bottom: 0;
}

#post-3725 .fusion-fullwidth-1 .fusion-one-half .imageframe-3 {
	margin-left: 77px;
}

#post-3725 .fusion-fullwidth-1 .fusion-one-half.fusion-column-last p {
	font-size: 12px;
	line-height: 1.3;
	margin-top: 20px;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper p {
	font-size: 12px;
	padding: 0;
    line-height: 1.3;
    margin-bottom: 0;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper h4 {
	margin-left: 6px;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper {
	margin: 0 66px;
	padding: 50px 5px 30px 5px;
}

#post-3725 .fusion-fullwidth-2 .content-2 .fusion-column-wrapper {
	padding-top: 0;
}

.bold {
	font-weight: bold;
}

.imageframe-13 {
	width: 100%;
	text-align: center;
}

/* Footer Styling */
footer {
	margin:auto!important;
	max-width:1000px!important;
	padding: 0 !important;
	border-color: transparent !important;
	text-align: center;
}

footer .fusion-row {
	background-color: #FDF004 !important;
}

.fusion-footer-copyright-area {
	border-top: 0;
}

#footer-content {
	text-align: center;
	color: #747474;
	padding: 10px 0;
}

#footer-content p {
	line-height: 1;
}

#footer-content .row5, #footer-content .row6, #footer-content .row7 {
	line-height: 1.4;
} 

#footer-content .row1 {
	font-size: 11px;
	padding-bottom: 10px;
}

#footer-content .row2 {
	font-size: 15px;
    font-weight: bold;
}

#footer-content .row3,  #footer-content .row4 {
	font-size: 15px;
}

#footer-content .row3 span, #footer-content .row4 span {
	font-size: 23px;
    font-weight: bold;
}

#footer-content .row5 span, #footer-content .row6 span {
	font-size: 12px;
}

#footer-content .row7 {
	font-weight: bold;
}

#footer.fusion-footer-copyright-area {
	background-color: transparent;
}

#footer.fusion-footer-copyright-area .fusion-copyright-notice div {
	color: #747474 !important;
}

@media screen and (max-width: 414px) {
	#main {
		padding-left: 0!important;
    	padding-right: 0!important;
	}
	.page-id-3298 #main {
		padding-left: 3%!important;
    	padding-right: 3%!important;
	}
	.page-id-3299 .fusion-fullwidth {
		padding: 10px!important;
	}
	.page-id-3299 .fusion-fullwidth-2 .fusion-one-fourth  {
		width:23%;
	}
	.page-id-3299 .fusion-fullwidth-2 .fusion-one-fifth {
		margin-top: 8px!important;
    	width: 8% !important;
    	padding: 0px 3px!important;
	}
	.page-id-3299 .fusion-fullwidth-2 .fusion-one-half  {
		width:67%;
	}
	.page-id-3299 .fusion-fullwidth-1 .fusion-row p, .page-id-3299 .fusion-fullwidth-3 .fusion-row p,
	.page-id-3299 .fusion-fullwidth-6 .fusion-row p {
		text-align:left;
	}
	.fusion-contact-info { 
		font-size: 0.6em!important;
		padding: 10px 43px;
    	line-height: 2 !important;
	}
	.fusion-header-v5 .fusion-sticky-header-wrapper .fusion-header p {
		font-size:9px;
	}
	#post-3298 .fusion-fullwidth-4 p, #post-3298 .fusion-fullwidth-5 p {
		/* padding: 0 !important;
		line-height: 16px !important; */
	}
	
	#post-3298 .fusion-fullwidth-5 .fusion-one-third .fusion-column-wrapper {
		height: auto;
	}
	
	#post-3299 .post-content .fusion-fullwidth-2 p, #post-3299 .post-content 
	.fusion-fullwidth-1 p, #post-3299 .post-content .fusion-fullwidth-2 p {
		padding: 0 24px;
	}
	
	#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth.left-margin {
		margin-left: 22px;
	}
	
	.post-3725 .post-content .fusion-fullwidth-2 p,
	 #post-3301 .post-content .fusion-fullwidth-1 p, 
	 #post-3301 .post-content .fusion-fullwidth-2 p , 
	 #post-3301 .post-content .fusion-fullwidth-3 p, 
	 #post-3301 .post-content .fusion-fullwidth-4 p , 
	 #post-3301 .post-content .fusion-fullwidth-5 p.p2  {
		text-align: left;
		padding: 0 10px!important;
	}
	
	#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half.left-margin 
	.fusion-column-wrapper, #post-3301 .post-content .fusion-fullwidth-2 
	.fusion-one-half .fusion-column-wrapper, #post-3301 .post-content 
	.fusion-fullwidth-3 #kaba-img-1 .fusion-column-wrapper, #post-3301 
	.post-content .fusion-fullwidth-3 .kaba-txt .fusion-column-wrapper,
	#post-3301 .post-content .fusion-fullwidth-3 #kaba-img-2 
	.fusion-column-wrapper, #post-3301 .post-content .fusion-fullwidth-3 
	#miwa-img div, #post-3301 .post-content .fusion-fullwidth-3 .kaba-txt,
	#post-3301 .post-content .fusion-fullwidth-4 .fusion-two-fifth 
	.fusion-column-wrapper, #post-3301 .post-content .fusion-fullwidth-5 
	.fusion-two-fifth .fusion-column-wrapper, #post-16 .fusion-fullwidth-1 
	.fusion-recent-posts section, #post-3725 .fusion-fullwidth-1 .tag-line 
	.reading-box, #post-3725 .fusion-fullwidth-1 .fusion-one-half .imageframe-3,
	#post-3725 .fusion-fullwidth-1 .fusion-one-half.fusion-column-last p, 
	#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper, 
	#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper h4,
	#post-3725 .fusion-fullwidth-2 .fusion-one-full, #post-3299 .post-content 
	.fusion-fullwidth-3 .fusion-one-third .fusion-column-wrapper 
	.imageframe-align-center {
		margin: 0;
	}
	#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half 
	.fusion-column-wrapper p, #post-3725 .fusion-fullwidth-1 .tag-line 
	.reading-box, #post-3725 .fusion-fullwidth-2 
	.fusion-one-full .fusion-column-wrapper h4 {
	    padding: 0 4px;
	}
	
	#post-3725 .fusion-fullwidth-1 .fusion-one-half.fusion-column-last {
		margin-left: 10px;
	}
	
	#post-3301 .post-content .fusion-fullwidth-3 p.p2, #post-3301 .post-content 
	.fusion-fullwidth-3 #kaba-text .fusion-column-wrapper, #post-3301 
	.post-content .fusion-fullwidth-3 .miwa-txt .fusion-column-wrapper p, 
	#post-3301 .post-content .fusion-fullwidth-4 .p2-2, #post-3301 .post-content 
	.fusion-fullwidth-4 .fusion-three-fifth .fusion-column-wrapper p, 
	#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
	.fusion-column-wrapper p, #post-3725 .fusion-fullwidth-2 .fusion-one-full 
	.fusion-column-wrapper, #post-3298 .post-content .section1 .fusion-row 
	.fusion-column-last, #post-3298 .post-content .section1 .fusion-row 
	.fusion-column-last .title, #post-3298 .post-content .fusion-fullwidth-5 
	.fusion-row .fusion-button.button-4 {
		padding: 0;
	}
	
	#post-3301 .post-content .fusion-fullwidth-4 p.p2, #post-3301 
	.post-content .fusion-fullwidth-5 p.p2 {
		padding: 10px 0;
	}
	
	#post-3298 .post-content .section1 .fusion-row .fusion-column-last 
	.fusion-title h5 {
		padding-top: 20px;
		line-height: 1.3;
	}
	
	#post-3299 .post-content .fusion-fullwidth-3 .fusion-two-third {
		margin-top: 0!important;
	}
	#post-3298 .post-content .section1 .fusion-checklist .fusion-li-item .fusion-li-item-content {
		font-size:11px;
	}
	#post-3298 .fusion-fullwidth-4 p, #post-3298 .fusion-fullwidth-5 p {
		padding-left:0px;
	}
	.post-content p {
		margin-top:5px;
	}
 }
 
 @media screen and (max-width: 320px) {
 
	.page-id-3298 .fusion-fullwidth-1 .fusion-column-last h4 {
		text-align:left;
		padding:0 3px!important;
	}
 	#post-3299 .post-content .fusion-fullwidth-2 p, #post-3299 .post-content 
 	.fusion-fullwidth-1 p, #post-3299 .post-content .fusion-fullwidth-2 p {
 		padding: 0;
 	}
 	
 	#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third {
		margin: 1%;
	}
 }





/* ------------ custom CSS ------------- */

.contact-button {
	background: #fff !important;
	border-radius: 5px !important;
	border: 1px solid #aaa;
	color: #777;
	outline: 0 none;
}

.contact-button:hover {
	box-shadow: 0px 0px 10px #ccc;
}

.contact-button:active {
	background: #eee !important;
}

.contact-form tr td:nth-child(1){
	background: #ffedec;
	font-size: 14px;
}
.contact-form tr td[colspan="2"] {
	background: #fff;
}

.contact-form textarea {
	width: 472px !important;
	box-sizing: border-box;
}

.contact-form {
	display: block;
	width: 100%;
}

.contact-form tbody {
	display: block;
	width: 100%;
}

.contact-form tr {
	width: 100% !important;
}

.break {
	display: none;
}

#post-16 .meta .meta-separator, #post-16 .meta span a {
 display: none;
}

#post-3298 .fusion-checklist.fusion-checklist-3 .fusion-li-item-content {
	font-size: 18px !important;
	margin-bottom: 10px;
}




/* contact page responsive */


@media screen and (max-width: 799px) {
	#post-3298 .fusion-one-half {
		max-width: none !important;
		width: 100% !important;
		padding-right: 0 !important;
	}
	
	#post-3298 .fusion-imageframe,
	#post-3298 .fusion-imageframe img {
		width: 100%;
	}
	#post-3299 .fusion-layout-column,
	#post-3301 .fusion-column-wrapper,
	#post-16 .fusion-columns,
	#post-3725 .fusion-imageframe {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#post-3299 .fusion-column-wrapper {
		text-align: center;
	}
	
	#post-3301 .fusion-layout-column p,
	#post-3301 .fusion-column-wrapper,
	#post-3301 .p2,
	#post-3301 .p2-2,
	#post-3301 .fusion-row p{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	#post-3301 .m01 {
		line-height: normal;
		font-size: 16px !important;
	}
	
	#post-3301 .p2,
	#post-3301 .p2-2 {
		margin-top: 10px;
	}
	
	#post-3301 .fusion-imageframe img {
		margin: 10px auto;
	}
	
	#post-3725 .fusion-column-wrapper {
		text-align: center;
	}
	
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	#main {
		width: 600px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 700px) {
	.contact-form tr,
	.contact-form tr td {
		display: block;
	}
	.contact-form tr td {
		white-space: normal !important;
	}
	
	#post-3300 .post-content .fusion-row h4 {
		font-size: 18px;
		padding-left: 40px !important;
	}
	
	
}

@media screen and (max-width: 580px) {
	.break {
		display: block;
		margin: 5px;
	}
	.contact-form tr td div,
	.contact-form tr td input[type="text"],
	.contact-form tr td input[type="tel"],
	.contact-form tr td input[type="email"],
	.contact-form tr td textarea {
		width: 100% !important;
	}
	
	.table-1 {
		overflow-x: hidden;
	}
	
	#post-3300 .post-content .fusion-row h4 {
		font-size: 12px;
		padding-left: 10px !important;
	}
	
	
}


.contact-form tr td input[type="tel"],
.contact-form tr td input[type="email"] {
	border: 1px solid #d2d2d2;
	font-size: 13px;
	color: #747474;
	padding: 8px 15px;
	margin-right: 1%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.readonly{
	border: 0 !important;
	background: transparent !important;
}
.checkbox-block-1,.checkbox-block-2{
	text-align: left !important;
}
.checkbox-block-2 > div {
	display: inline !important;
}


.confirm-checkbox {
	display: none !important;
	
}
.confirm-checkbox.on {
	display: inline !important;
	color: rgb(170, 169, 169);
}

.checkbox-block-2 .confirm-checkbox.on {
	display: inline-block !important;
	width: 106px;
	height: 30px;
	color: rgb(170, 169, 169);
}
.confirm-checkbox.on > input[type="checkbox"],
input[type="checkbox"].confirm-checkbox.on {
	display: none !important;
}

.fusion-fullwidth {
	/* text-align: center; */
}

div.table-1 {
	display: inline-block;
}
