@charset "UTF-8";

body {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
		"HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #747474;
}

/* Top-page Styling */
#post-3298 .post-content .section1 .fusion-row, .fusion-footer, #footer {
	text-align: center !important;
}

#post-3298 .post-content .section1 .fusion-row .fusion-layout-column, 
#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title,
#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title  h4,
#post-3298 .post-content .section1 .fusion-row .fusion-checklist, #post-3298 
.post-content .section1 .fusion-row .fusion-checklist .fusion-li-item, 
#post-3298 .post-content .fusion-fullwidth .fusion-row ul, #footer-content p,
#post-3301 .post-content .fusion-fullwidth-4 .fusion-three-fifth 
.fusion-column-wrapper h4, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-three-fifth .fusion-column-wrapper h4,
#post-3725 .fusion-fullwidth-1 .fusion-one-half, 
#post-3725 .fusion-fullwidth-2 .fusion-one-full h4 {
	margin: 0;
}

#post-3298 .post-content .section1 .fusion-row .fusion-layout-column {
	float: none;
	max-width: 375px;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last {
	text-align: left;
	padding: 10px 0 0 10px;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last .title  h4 {
	color: #000080;
	font-size: 14px;
	font-weight: bold;
}

#post-3298 .post-content .section1 .fusion-checklist 
.fusion-li-item .fusion-li-item-content {
	color: blue;
	display: inline-block;
	border-bottom: 1px solid blue;
	margin-left: 0 !important;
	line-height: 1;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last 
.title {
	padding: 10px 0;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last 
.fusion-title h5 {
	color: #ff0000;    
	line-height: .6;
    font-size: 15px;
    font-weight: bold;
}

#post-3298 .post-content .section1 .fusion-row .fusion-column-last p {
	padding-top: 5px;
	max-width: 340px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-size: 12px;
}

.fullwidth-box .fusion-row, #post-3298 .post-content .fusion-fullwidth-2 
.fusion-row, #post-3298 .post-content .fusion-fullwidth-3 .fusion-row,
#post-3298 .post-content .fusion-fullwidth-4 .fusion-row, #post-3298 
.post-content .fusion-fullwidth-5 .fusion-row, .fusion-footer .fusion-row, 
#footer.fusion-footer-copyright-area .fusion-row {
	max-width: 753px !important;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row {
	border: 2px solid #dd3333;
	padding-top: 10px;
}

#post-3298 .post-content .fusion-fullwidth .fusion-row ul li,
#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .fusion-one-full,
#post-3298 .post-content .fusion-fullwidth-5 .fusion-row .fusion-one-full,
#post-3299 .post-content .fusion-fullwidth-3 .fusion-two-third,
#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half, #post-3725 
.fusion-fullwidth-1 .tag-line .fusion-reading-box-container, #post-3725 
.fusion-fullwidth-1 #title-1, #post-3725 .fusion-fullwidth-1 .tag-line {
	margin-bottom: 0 !important;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row ul li div {
	color: #ff0000;
	font-weight: bold;
}

#post-3298 .post-content .fusion-fullwidth-2 .fusion-row p {
	padding: 0 5px;
	line-height: 1.3;
}

#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third p {
	border: 1px solid #000066;
	line-height: 1.5;
	padding: 10px;
	word-break: break-all;
}

#post-3298 .post-content .fusion-fullwidth-4 .fusion-row .one_third 
.fusion-button, #post-3298 .post-content .fusion-fullwidth-5 .fusion-row  
.fusion-button.button-4, #post-3298 .post-content .fusion-fullwidth-5
.fusion-row .fusion-button.button-5 {
	background-color: transparent !important;
	color: #00f !important;
	padding: 0;
	font-size: 15px;
	text-align: left;
	text-decoration: underline
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row .one_third p {
	line-height: 1.5;
	font-size: 10px;
	margin-bottom: 0px;
	padding: 10px 7px 6px 7px;
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row 
.one_third.bottom-padding p {
	padding-bottom: 7px;
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row  
.fusion-button.button-4 {
	padding-left: 119px;
	font-size: 12px;
}

#post-3298 .post-content .fusion-fullwidth-5 .fusion-row 
.fusion-button.button-5 {
	font-size: 12px;
}

/* Work Page Styling */
#post-3299 .post-content .fusion-fullwidth-1, #post-3725 .fusion-fullwidth-1 {
	padding-bottom: 0 !important;
}

#post-3299 .post-content .fusion-fullwidth-1 p, 
#post-3299 .post-content .fusion-fullwidth-2 p {
	line-height: 1.2;
	padding: 0px 80px;
	font-size: 12px;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth {
	float: none;
	margin-right: 4px;
	display: inline-block;
	vertical-align: top;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth.left-margin {
	margin-left: 80px;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper {
	min-height: auto !important;
	padding: 0 !important;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper p {
	padding: 10px 10px 0 0;
}

#post-3299 .post-content .fusion-fullwidth-2 .fusion-one-sixth 
.fusion-column-wrapper p a {
	color: #00f;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third, 
#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half,
#post-3301 .post-content .fusion-fullwidth-4 .fusion-two-fifth {
	margin-right: 0;
}

#post-3299 .post-content .fusion-fullwidth-3 .imageframe-align-center {
	margin-bottom: 15px;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third 
.fusion-column-wrapper, #post-3299 .post-content .fusion-fullwidth-3 
.fusion-two-third .fusion-column-wrapper {
	min-height: 0 !important;
	line-height: 1.3;
	font-size: 13px;
}

#post-3299 .post-content .fusion-fullwidth-3 .fusion-one-third 
.fusion-column-wrapper .imageframe-align-center {
	margin-left: 53px;
}

/* Introduction Page */
#post-3301 .post-content .fusion-fullwidth-1 p, #post-3301 .post-content 
.fusion-fullwidth-2 p {
	font-size: 12px;
	line-height: 1.5;
	padding: 0px 96px;
}

#post-3301 .post-content .fusion-fullwidth-1 p span {
	line-height: 2.5;
}

#post-3301 .post-content .fusion-fullwidth-1 
.imageframe-align-center .top-margin {
	margin-top: 20px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half
.fusion-column-wrapper {
	margin-right: 23px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half.left-margin 
.fusion-column-wrapper {
	margin-left: 90px;
	margin-right: 0;
} 

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half
.fusion-column-wrapper p {
	padding: 0 37px;
}

#post-3301 .post-content .fusion-fullwidth-2 .fusion-one-half.left-margin 
.fusion-column-wrapper p {
	padding: 0;
}

#post-3301 .post-content .fusion-fullwidth-3 p.p2 {
	font-size: 12px;
	line-height: 1.3;
	padding: 0 145px;
}

#post-3301 .post-content .fusion-fullwidth-3 .fusion-one-half,
#post-3301 .post-content .fusion-fullwidth-3 #kaba-text 
.fusion-column-wrapper {
	margin-right: 0;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-img-1 
.fusion-column-wrapper {
	margin-left: 88px;
	margin-bottom: 10px !important;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-img-2 
.fusion-column-wrapper {
	margin-left: 104px;
}

#post-3301 .post-content .fusion-fullwidth-3 .kaba-txt,
#post-3301 .post-content .fusion-fullwidth-3 #kaba-text,
#post-3301 .post-content .fusion-fullwidth-3 .miwa-txt {
	font-size: 12px;
	line-height: 1.5;
	margin-left: 0px;
}

#post-3301 .post-content .fusion-fullwidth-3 .kaba-txt 
.fusion-column-wrapper {
	margin-right: 60px;
	margin-left: 0px;
}

#post-3301 .post-content .fusion-fullwidth-3 #kaba-text 
.fusion-column-wrapper {
	padding: 0 105px;
}

#post-3301 .post-content .fusion-fullwidth-3 #miwa-img div {
	margin-left: 45px;
}

#post-3301 .post-content .fusion-fullwidth-3 .miwa-txt 
.fusion-column-wrapper p {
	padding-right: 66px;
}

#post-3301 .post-content .fusion-fullwidth-4 .m01,
#post-3301 .post-content .fusion-fullwidth-5 .m01 {
	padding-top: 25px;
}
#post-3301 .post-content .fusion-fullwidth-4 .m01, #post-3301 
.post-content .fusion-fullwidth-4 .fusion-row div p,
#post-3301 .post-content .fusion-fullwidth-5 .m01, #post-3301 
.post-content .fusion-fullwidth-5 .fusion-row div p {
	font-size: 15px;
	margin: 0;
	line-height: 1.5;
}

#post-3301 .post-content .fusion-fullwidth-4 p.p2,
#post-3301 .post-content .fusion-fullwidth-5 p.p2 {
	font-size: 12px;
	line-height: 1.5;
	padding: 10px 173px;
}

#post-3301 .post-content .fusion-fullwidth-4 .p2-2 {
	font-size: 12px;
	line-height: 1.5;
	padding: 0 174px;
}

#post-3301 .post-content .fusion-fullwidth-4 .fusion-two-fifth 
.fusion-column-wrapper, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-two-fifth .fusion-column-wrapper {
	margin-left: 95px;
}

#post-3301 .post-content .fusion-fullwidth-4 .fusion-three-fifth 
.fusion-column-wrapper p, #post-3301 .post-content .fusion-fullwidth-5 
.fusion-three-fifth .fusion-column-wrapper p {
	font-size: 14px;
	line-height: 1.3;
    padding-right: 58px;
}

#post-3301 .post-content .fusion-fullwidth-5 {
	padding-bottom: 50px !important;
}

#post-3301 .post-content .fusion-fullwidth-5 p.p2 {
	padding: 10px 164px;
	text-align: left;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper {
	padding-top: 20px;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper h4 {
	font-size: 12px;
	font-weight: bold;
}

#post-3301 .post-content .fusion-fullwidth-5 .fusion-three-fifth 
.fusion-column-wrapper p {
	padding-top: 5px;
	padding-right: 91px;
	font-size: 12px;
}

/* News page */
#post-16 .fusion-fullwidth-1 .fusion-recent-posts section {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-left: 70px;
	margin-right: 70px
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts .fusion-column {
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	padding: 0;
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts p {
	line-height: 1.3;
	font-size: 12px;
}

#post-16 .fusion-fullwidth-1 .fusion-recent-posts p.meta {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Store Page */
#post-3725 .fusion-fullwidth-1 .tag-line .reading-box {
	padding: 0 10px;
	margin: 0 50px;
}

#post-3725 .fusion-fullwidth-1 .tag-line .reading-box p {
	margin-bottom: 0;
}

#post-3725 .fusion-fullwidth-1 .fusion-one-half .imageframe-3 {
	margin-left: 77px;
}

#post-3725 .fusion-fullwidth-1 .fusion-one-half.fusion-column-last p {
	font-size: 12px;
	line-height: 1.3;
	margin-top: 20px;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper p {
	font-size: 12px;
	padding: 0;
    line-height: 1.3;
    margin-bottom: 0;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper h4 {
	margin-left: 6px;
}

#post-3725 .fusion-fullwidth-2 .fusion-one-full .fusion-column-wrapper {
	margin: 0 66px;
	padding: 50px 5px 30px 5px;
}

#post-3725 .fusion-fullwidth-2 .content-2 .fusion-column-wrapper {
	padding-top: 0;
}

.bold {
	font-weight: bold;
}

/* Footer Styling */
footer {
	padding: 0 !important;
	border-color: transparent !important;
	background-color: #FDF004 !important;
}

#footer-content {
	text-align: center;
	color: #747474;
	padding: 10px 0;
}

#footer-content p {
	line-height: 1;
}

#footer-content .row5, #footer-content .row6, #footer-content .row7 {
	line-height: 1.4;
} 

#footer-content .row1 {
	font-size: 11px;
	padding-bottom: 10px;
}

#footer-content .row2 {
	font-size: 15px;
    font-weight: bold;
}

#footer-content .row3,  #footer-content .row4 {
	font-size: 15px;
}

#footer-content .row3 span, #footer-content .row4 span {
	font-size: 23px;
    font-weight: bold;
}

#footer-content .row5 span, #footer-content .row6 span {
	font-size: 12px;
}

#footer-content .row7 {
	font-weight: bold;
}

#footer.fusion-footer-copyright-area {
	background-color: transparent;
}

#footer.fusion-footer-copyright-area .fusion-copyright-notice div {
	color: #747474 !important;
}

